<div class="page-header" id="user-show"><h1><%= current_user.name %>'s Profile
  <small>What do you need to do today?</small>
  </h1>
</div>

<div id="container">
  <div class="jumbotron" id="jumbo">
    <div id="jumbo-content">
      <h1>Your Details</h1>
      <ul>
        <li><%= current_user.name %></li>
        <li><%= current_user.email %></li>
      </ul>
      <%= render partial: 'tasks/form', locals: { task: Task.new } %>
      <%= render partial: 'tasks/task', locals: { task: Task.new} %>
    </div>
  </div>
</div>
